<div class="container">
    <table-new-fix></table-new-fix>
    <!--
    <div class="row">
        <div class="col-md-6 h450">
                <scattered-chart></scattered-chart>
        </div>
        <div class="col-md-6">
            <div class="col-md-6 chartOne pt16">
                <donut-chart></donut-chart>
            </div>
            <div class="col-md-6 chartTwo">
                <bar-chart></bar-chart>
            </div>
        </div>
        <div class="col-md-6" style="    padding-top: 20px;">
                <div class="col-md-6 chartOne">
                    <bar-chart></bar-chart>
                </div>
                <div class="col-md-6 chartTwo pt16">
                    <donut-chart [showCircle]="true"></donut-chart>
                </div>
            </div>
        </div>
    -->
            <!-- <timeline-chart></timeline-chart> -->
                <!-- <donut-chart></donut-chart>
                <bar-chart></bar-chart> -->
</div>
